.typewriter{
    display: inline-block;
    white-space: nowrap;
    letter-spacing: 2.5px;
    border-right: 4px solid;
    width: 19.5ch;

    overflow: hidden;
    animation: 
        typing 2s steps(14), 
        blink .5s step-end infinite alternate;
}

@keyframes typing {
    from{ width: 0;}
}

@keyframes blink {
    50% { border-color: transparent; }
}

@media screen and (max-width: 480px){
    .typewriter{
        font-size: 1.3rem;
        width: 20.5ch;
    }
}