.btn-primary{
    background-color: var(--primary);
    color: var(--background);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 16px;
    gap: 8px;
    max-width: 222px;
    margin-top: 1rem;
}