.timeline-info{
    border-left: 5px solid var(--gray);
    /* padding: 20px 0 20px 15px;
    padding: 0.4rem 1rem 0.2rem; */
    padding: 2px 16px;
    position: relative;
}

.timeline-info h3{
    margin-top: 1rem;
}

.timeline-info h4{
    padding: 6px 0;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
}

.dot-psd {
    display: block;
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: var(--primary);
    border-radius: 50%;
    left: -10px;
    top: 26px;
}

.timeline-logo{
    width: 70px;
    height: auto;
}

.timeline-logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.timeline-enterprise{
    padding: 4px 16px;
}

.dot-div{
    height: 20px;
    width: 20px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    left: calc(19% + 1px);
    margin-top: 26px;
}