.flex-init{
    gap: 20px;
}

.hero{
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.hero .face{
    max-width: 450px;
    border: 10px solid var(--primary);
    border-radius: 50%;
}

.role{
    margin-top: 0;
}

.box-2{
    max-width: 450px;
}