.flex-init{
    gap: 20px;
}

.hero{
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.hero .face{
    max-width: 450px;
    border: 10px solid var(--primary);
    border-radius: 50%;
}

.role{
    margin-top: 0;
}

.box-2{
    max-width: 450px;
}

.btn-hero{
    max-width: 200px;
}

.contain-btnhero{
    margin-top: 1rem;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .hero .face {
        max-width: 350px;
    }
    .box-2 {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .hero .face {
        max-width: 300px;
    }
    .contain-btnhero{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {
    .hero .face {
        max-width: 300px;
    }
}

@media screen and (max-width: 320px) {
    .hero .face {
        max-width: 300px;
    }
}